source https://www.nuget.org/api/v2

nuget Microsoft.NET.Test.Sdk
nuget Newtonsoft.Json 
nuget System.Security.Cryptography.Algorithms
nuget xunit
nuget xunit.runner.visualstudio
nuget Microsoft.Extensions.Configuration
nuget Microsoft.Extensions.Configuration.Json