group app
	source https://www.nuget.org/api/v2
	framework: net46, netstandard15

	nuget Newtonsoft.Json 
	nuget System.Security.Cryptography.Algorithms
	nuget Autofac
	nuget BarsGroup.CodeGuard
	nuget log4net

group test
    source https://www.nuget.org/api/v2
    framework: net46, netstandard15
    
	nuget Microsoft.NET.Test.Sdk
    nuget xunit
    nuget xunit.runner.visualstudio
    nuget Microsoft.Extensions.Configuration.Json
    nuget Microsoft.Extensions.Configuration
	nuget log4net
	nuget Moq
	nuget Autofac

group build
    source https://www.nuget.org/api/v2
    nuget FAKE
    